.taskList {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

.taskList input:checked + label {
  color: #49d649; 
}

label {
  transition: 1s color ease-out;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 100px;
  transition: 0.3s transform cubic-bezier(.99, .03, 0, .99);
}

.logo:hover {
  transform: scale(1.3) translateY(-10px);
}

